# Build outputs
target/
*.war
*.ear
*.jar
*.class

# IDE - NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IDE - IntelliJ / Eclipse
.idea/
*.iml
.settings/
.classpath
.project

# OS files
Thumbs.db
db.properties
.DS_Store
